<section class="bg-dark" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Proteome-wide interactive spatial maps</h2>
                <hr class="light">
                <p class="text-faded">We provide on-line browseable
                  proteome-wide spatial maps at your fingertips. This
                  resource offers direct access to the data and
                  visualisation software of the
                  state-of-the-art <a href="http://bioconductor.org/packages/pRoloc"><code>pRoloc</code></a>
                  suite of Bioconductor packages. Choose from a set of
                  datasets, and navigate and search the sub-cellular
                  proteomics map using interactive interfaces.</p>
		<hr class="light">
		<p class="text-faded">I you want full control, have a
                  look at our software section. Want to
                  contribute your own data, get in touch.</p>
                <a href="#data" class="btn btn-default btn-xl">Get Started!</a>
            </div>
        </div>
    </div>
</section>
