<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Any questions about this infrastructure or the
		  data? Do you want to get involved, contribute data?
		  That's great! Send us an email and we will get back
		  to you as soon as possible!</p>
		<p>This resource stems from research performed in
		  the <a class="bb"
		  href="http://cpu.sysbiol.cam.ac.uk">Computational
		  Proteomics Unit</a> and the <a class="bb"
		  href="http://proteomics.bio.cam.ac.uk/">Cambridge
		  Centre for Proteomics</a> at the University of
		  Cambridge.</p>
            </div>
            <!-- <div class="col-lg-2 col-lg-offset-2 text-center"> -->
            <!--   <a href="https://twitter.com/{{ site.twitter_username }}"> -->
            <!--     <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i> -->
            <!--     <p>{{ site.twitter_username }}</p> -->
            <!--   </a> -->
            <!-- </div> -->
            <div class="col-lg-2 col-lg-offset-3 text-center">
              <a href="mailto:{{ site.email }}">
		<i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <!-- <p>{{ site.email }}</p> -->
              </a>
            </div>
            <div class="col-lg-2 col-lg-offset-2 text-center">
              <a href="https://github.com/{{ site.github_username }}">
		<i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <!-- <p>{{ site.github_username }}</p> -->
              </a>
            </div>
	</div>
    </div>
</section>
