<section class="no-padding" id="data">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://lgatto.shinyapps.io/christoforou2015" class="portfolio-box">
                    <img src="img/portfolio/mmus.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
			      Christoforou <i>et al</i>. 2015.
                            </div>
                            <div class="project-name">
			      The <i>hyperLOPIT</i> data is a
			      comprehensive spatial map of mouse
			      embryonic stem cells for over 5000
			      proteins and tens of spatial niches,
			      vesicules and macromolecular complexes.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/ath.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
			      Dunkley <i>et al.</i> 2006
                            </div>
                            <div class="project-name">
			      A sub-cellular mapping of the
			      Arabidopsis proteome, first published by
			      Dunkley <i>et al.</i> in 2006 and
			      further improved in 2013 by
			      Breckels <i>et al</i>.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <img src="img/portfolio/droso.png" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Tan <i>et al.</i> 2009
                            </div>
                            <div class="project-name">
			      Mapping organelle proteins and protein
			      complexes in Drosophila melanogaster,
			      improved by Breckels <i>et al.</i> in
			      2013.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <!-- <div class="col-lg-4 col-sm-6"> -->
            <!--     <a href="#" class="portfolio-box"> -->
            <!--         <img src="img/portfolio/4.jpg" class="img-responsive" alt=""> -->
            <!--         <div class="portfolio-box-caption"> -->
            <!--             <div class="portfolio-box-caption-content"> -->
            <!--                 <div class="project-category text-faded"> -->
            <!--                     Category -->
            <!--                 </div> -->
            <!--                 <div class="project-name"> -->
            <!--                     Project Name -->
            <!--                 </div> -->
            <!--             </div> -->
            <!--         </div> -->
            <!--     </a> -->
            <!-- </div> -->
            <!-- <div class="col-lg-4 col-sm-6"> -->
            <!--     <a href="#" class="portfolio-box"> -->
            <!--         <img src="img/portfolio/5.jpg" class="img-responsive" alt=""> -->
            <!--         <div class="portfolio-box-caption"> -->
            <!--             <div class="portfolio-box-caption-content"> -->
            <!--                 <div class="project-category text-faded"> -->
            <!--                     Category -->
            <!--                 </div> -->
            <!--                 <div class="project-name"> -->
            <!--                     Project Name -->
            <!--                 </div> -->
            <!--             </div> -->
            <!--         </div> -->
            <!--     </a> -->
            <!-- </div> -->
            <!-- <div class="col-lg-4 col-sm-6"> -->
            <!--     <a href="#" class="portfolio-box"> -->
            <!--         <img src="img/portfolio/6.jpg" class="img-responsive" alt=""> -->
            <!--         <div class="portfolio-box-caption"> -->
            <!--             <div class="portfolio-box-caption-content"> -->
            <!--                 <div class="project-category text-faded"> -->
            <!--                     Category -->
            <!--                 </div> -->
            <!--                 <div class="project-name"> -->
            <!--                     Project Name -->
            <!--                 </div> -->
            <!--             </div> -->
            <!--         </div> -->
            <!--     </a> -->
            <!-- </div> -->
        </div>
    </div>
</section>
