<section id="funding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2 class="section-heading">Funding</h2>
	      <hr class="primary">
	      <p>The work was supported by the generous support of</p>
	      <p><a href="http://www.bbsrc.ac.uk/home/home.aspx">
		<img src="./img/new-bbsrc-colour.jpg" alt="BBSRC" 
		     height="35px" align="center" /> 
	      </a></p>
	      <p> <a href="http://www.primexs.eu/">Prime-XS</a> project
	      <img src="./img/fp7.jpg" alt="FP7" 
		   height="60px" align="center" />
	      </p>
            </div>
        </div>
    </div>
</section>
