<section id="references">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
              <h2 class="section-heading">Infrastructure references</h2>
	      <hr class="primary">
	      <p class="just">Gatto L, Breckels LM, Naake T and Gibb S
		<a class="it" href="http://www.ncbi.nlm.nih.gov/pubmed/25690415">Visualisation
		  of proteomics data using R and
		  Bioconductor</a> Proteomics. 2015 Apr;15(8):1375-89.</p>
              <p class="just">Gatto L, Breckels LM, Burger T,
		Nightingale DJ, Groen AJ, Campbell C, Nikolovski N,
		Mulvey CM, Christoforou A, Ferro M, Lilley
		KS <a class="it"
		href="http://www.ncbi.nlm.nih.gov/pubmed/24846987">A
		foundation for reliable spatial proteomics data
		analysis</a>, Mol Cell Proteomics. 2014
		Aug;13(8):1937-52.</p>
	      <p class="just">Gatto L, Breckels LM, Burger T,
		Wieczorek S and Lilley KS <a class="it"
		href="http://www.ncbi.nlm.nih.gov/pubmed/24413670">Mass-spectrometry
		based spatial proteomics data analysis
		using <code>pRoloc</code>
		and <code>pRolocdata</code></a>, Bioinformatics,
		2014.</p>
              <p class="just">Breckels LM, Gatto L, Christoforou
		A, Groen AJ, Lilley KS and Trotter MWB  <a class="it"
		href="http://www.ncbi.nlm.nih.gov/pubmed/23523639">The
		Effect of Organelle Discovery upon Sub-Cellular
		Protein Localisation</a>, Journal of Proteomics,
		2013.</p>
              <p class="just">Gatto L and Lilley KS
		<a class="it"
		   href="http://www.ncbi.nlm.nih.gov/pubmed/22113085"><code>MSnbase</code>
		  - an R/Bioconductor package for isobaric tagged
		  mass spectrometry data visualisation, processing
		  and quantitation</a>, Bioinformatics, 28(2),
		288-289, 2012.</p>
	      <h2 class="section-heading">Data references</h2>
	      <hr class="primary">
	      <p>Christoforou A, Mulvey CM, Breckels LM, Geladaki A,
		Hurrell T, Hayward P, Naake T, Gatto L, Viner R,
		Martinez Arias A, and Lilley KS.
		<a class="it" href="#references">A draft map of the mouse pluripotent
		  stem cell spatial proteome</a>, Nature Communications, In press.</p>
            </div>
        </div>
    </div>
</section>
