<section id="software">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Software infrastructure</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3><a href="http://bioconductor.org/packages/MSnbase"><code>MSnbase</code></a></h3>
                    <p class="text-muted">Managing and processing
                    quantitative proteomics data and its
                    meta-data. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3><a href="http://bioconductor.org/packages/pRoloc"><code>pRoloc</code></a></h3>
                    <p class="text-muted">All the machine learning you
                    need to analyse and comprehend your spatial
                    proteomics data.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3><a href="http://bioconductor.org/packages/pRolocGUI"><code>pRolocGUI</code></a></h3>
                    <p class="text-muted">Interactive visualisation
                    and exploration of spatial proteomics data.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3><a href="http://bioconductor.org/packages/pRolocdata"><code>pRolocdata</code></a></h3>
                    <p class="text-muted">All the data readily
                    formatted, ready to be analysed and
                    visualised.</p>
                </div>
            </div>
        </div>
    </div>
</section>
